<h1>This is the order you created</h1>

<p>id: <%= @order['id'] %></p>
<p>user_id: <%= @order['user_id'] %></p>
<p>product_id: <%= @order['product_id'] %></p>
<p>quantity: <%= @order['quantity'] %></p>
<p>subtotal: <%= @order['subtotal'] %></p>
<p>tax: <%= @order['tax'] %></p>
<p>total: <%= @order['total'] %></p>
<p>user email: <%= @order['user']['email'] %></p>
<p>product name: <%= @order['product']['name'] %></p>