<p> test </p>

<% @products.each do |product| %>
    <p>id: <%= product['id'] %></p>
    <p>name: <%= product['name'] %></p> 
    <p>price: <%= product['price'] %></p>
    <p>image_url: <%= product['image_url'] %></p>
    <p>description: <%= product['description'] %></p>    

    <hr>
    <% end %>