<p> ID: <%= @product['id']%> </p>
<p> NAME: <%= @product['name']%> </p>
<p> PRICE: <%= @product['price']%> </p>
<p> IMAGE_URL: <%= @product['image_url']%> </p>
<p> DESCRIPTION: <%= @product['description']%> </p>